<app-header>
  <button
    class="btn btn-warning text-white"
    type="submit"
    (click)="mudarTelaProjeto()"
    style="background-color: #fe9923; font-size: 16px; text-wrap: nowrap"
  >
    COMEÇAR UM PROJETO
  </button>
</app-header>

<div class="body">
  <main class="container">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center">{{ projeto?.title }}</h3>
        <p class="text-center">{{ projeto?.description }}</p>
      </div>
    </div>
    <div class="mt-4">
      <div class="card shadow mb-3">
        <div class="row g-0 d-flex justify-content-betweer">
          <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center">
              <img [src]="primeiraImagem" class="image-placeholder mt-3 mb-3 custom-image-banner" alt="Imagem do projeto" width="600px" />
            </div>
          </div>
          <div
            class="col-md-6"
            style="display: flex; align-items: center; justify-content: space-around; flex-direction: column"
          >
            <div class="card-body" style="width: 90%">
              <h2 class="card-title" style="color: #ff9823">R$ {{ projeto?.required_value }}</h2>
              <p>
                Já conquistado <strong>R$ {{ projeto?.funded_value }}</strong>
              </p>
              <div>
                <h6 class="card-text">{{ getQuantidadeDiasCriacao(projeto?.rollout_date) }}</h6>
                <p>Dias restantes</p>
              </div>
              <button (click)="mudarTelaApoieProjeto()" class="btn btn-primary mb-2 w-100 shadow">Apoie esse projeto</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'historia'" (click)="setActiveTab('historia')" aria-current="true" >História</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'recompensas'" (click)="setActiveTab('recompensas')" >Recompensas</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div *ngIf="activeTab === 'historia'">
            <p class="card-text">{{ projeto?.description }}</p>
            <div class="image-grid">
              <div *ngFor="let image of images">
                <img [src]="image.url" class="img-fluid custom-image" alt="Imagem" />
              </div>
            </div>
          </div>
          <div *ngIf="activeTab === 'recompensas'">
            <div class="rewards-grid">
              <div *ngFor="let reward of rewards" class="reward-card">
                <img [src]="reward.imageUrl" class="img-fluid reward-image" alt="Recompensa" />
                <h5>{{ reward.title }}</h5>
                <p>{{ reward.description }}</p>
                <button class="btn btn-outline-warning">{{ reward.buttonText }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<app-footer></app-footer>

<ngx-spinner bdColor="rgba(225,225,225,0.8)" size="medium" color="#01616a" type="ball-circus" [fullScreen]="true"
  ><div class="text-center">
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ngx-spinner>
