<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="">
          <img width="100px" src="../../../../assets/finco.png" alt="Logo" class="m-0 p-0" />
        </div>
        <p class="card-subtitle mt-2 text-body-secondary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit.
        </p>
        <div class="row mt-2">
          <div class="col-12">
            <a href="#" class="bi bi-instagram text-warning m-1"></a>
            <a href="#" class="bi bi-twitter-x text-warning m-1"></a>
            <a href="#" class="bi bi-facebook text-warning m-1"></a>
            <a href="#" class="bi bi-linkedin text-warning m-1"></a>
            <a href="#" class="bi bi-youtube text-warning m-1"></a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">Links</h5>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5 class="footer-title">Campany</h5>
        <ul class="footer-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5 class="footer-title">Contacts us</h5>
        <ul class="social-media">
          <li><a href="#" class="bi bi-envelope"></a> contact&#64;email.com</li>
          <li><a href="#" class="bi bi-telephone"></a> (414) 687 - 5892</li>
          <li><a href="#" class="bi bi-geo-alt"></a> 794 Mcallister StSan Francisco, 94102</li>
        </ul>
      </div>
    </div>

    <div class="d-flex copyright col-12 justify-content-between">
      <div>
        <p>Copyright {{ dataAtual }} &copy; Finco.</p>
      </div>
      <div>
        <p>All Rights Reserved | <a>Terms and Conditions</a> | <a>Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>
