<div
  class="container-fluid"
  style="
    background-image: url(../../assets/fundoAtual.png);
    background-color: #f2f2f2;
    height: 100vh;
    align-content: center;
  "
>
  <img src="../../assets/finco.png" style="height: 5rem; margin-left: 43.5%" alt="" />
  <div class="mx-auto p-2" style="width: 29%">
    <div
      style="
        background-color: rgb(255, 255, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 16px;
      "
    >
      <div class="mb-3">
        <div
          class="progress"
          role="progressbar"
          aria-label="Example 20px high"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 8px"
        >
          <div class="progress-bar bg-warning" style="width: 100%"></div>
        </div>
      </div>
      <div class="mb-3">
        <h1 style="font-size: 24px">Criar senha</h1>
        <p style="font-size: 16px">Crie uma nova senha para a sua conta.</p>
      </div>

      <form [formGroup]="form" (submit)="resetarSenha()">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nova senha</label>
          <input
            type="password"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="ex: senha123"
            formControlName="password"
          />
        </div>
        <div class="form-group mb-3">
          <label for="confirmarSenha" class="form-label">Confirmar senha</label>
          <input
            type="password"
            class="form-control"
            id="confirmarSenha"
            placeholder="ex: senha123"
            formControlName="confirmPassword"
            required
          />

          <app-vmessage
            *ngIf="form.get('confirmPassword')?.value != '' && form.get('confirmPassword')?.hasError('notMatched')"
            text="As senhas devem ser iguais!"
          ></app-vmessage>
        </div>

        <label for="minimo" class="form-label">Mínimo de: </label>
        <div class="mb-3" style="display: flex">
          <div class="row" style="margin-bottom: 4%">
            <div style="display: flex; margin-bottom: 4%">
              <img src="../../assets/done.svg" alt="done" style="width: 24px; height: 24px" />
              <div class="col-6 col-sm-4" style="color: #0fca43">8 dígitos</div>
            </div>

            <div style="display: flex">
              <img src="../../assets/done.svg" alt="done" style="width: 24px; height: 24px" />
              <div class="col-6 col-sm-4" style="color: #0fca43">8 dígitos</div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 4%">
            <div style="display: flex; margin-bottom: 4%">
              <img src="../../assets/done.svg" alt="done" style="width: 24px; height: 24px" />
              <div class="col-6 col-sm-4" style="color: #0fca43">8 dígitos</div>
            </div>
            <div style="display: flex">
              <img src="../../assets/done.svg" alt="done" style="width: 24px; height: 24px" />
              <div class="col-6 col-sm-4" style="color: #0fca43">8 dígitos</div>
            </div>
          </div>
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-warning" style="color: #ffffff; font-weight: 500" type="submit">CONFIRMAR</button>
        </div>
      </form>
      <div class="mb-3" style="margin-top: 5%">
        <a (click)="mudarTelaVerificacao()" style="text-decoration: none; cursor: pointer"
          ><span style="font-size: 16px; color: #453f3f; font-weight: 500; margin-left: 42.5%">VOLTAR</span></a
        >
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(225,225,225,0.8)" size="medium" color="#01616a" type="ball-circus" [fullScreen]="true"
  ><div class="text-center">
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ngx-spinner>
