<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="/inicio" class="navbar-brand"
      ><img style="width: 100px; margin-left: 70%" src="../../assets/finco.png"
    /></a>
    <form class="d-flex" role="search">
      <div class="row">
        <div class="col">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            style="width: 600px"
          />
        </div>

        <div class="col">
            <ng-content></ng-content>
        </div>

        <div class="col">
          <div class="profile">
            <img src="../../assets/perfil.png" style="width: 38px; height: 38px" alt="Perfil do usuário" />
            <div class="status-dot"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>
