<div class="container-fluid" style="background-image: url(../../assets/fundoAtual.png);background-color: #f2f2f2; height: 100vh; align-content: center;">
    <img src="../../assets/finco.png" style="height: 5rem; margin-left: 43.5%;" alt="">
    <div class="mx-auto p-2" style="width: 29%;">
        
        <div style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border-radius: 16px;">
           
    
            <div class="mb-3">
                 <h1 style="font-size: 24px;">Criar minha conta</h1>
            </div>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="ex: Seu nome">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="ex: nome@email.com.br">
            </div>

            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="email" class="form-control" id="senha" placeholder="ex: senha123">
            </div>

            <div class="mb-3">
                <label for="confirmarSenha" class="form-label">Confirmar senha</label>
                <input type="email" class="form-control" id="confirmarSenha" placeholder="ex: senha123">
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-warning" style="color: #FFFFFF; font-weight: 500;" type="button">ENTRAR</button>
            </div>

          
        </div>
    </div>
        
</div>  

