<main>
  <section id="carrossel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/Inicio/carrossel-img1.png" class="d-block w-100 imagem-carrosel" alt="..." />
        <div class="carousel-caption d-none d-md-block h-50">
          <h1 class="card-title" style="font-size: 7rem">Lorem Ipsum Dolor</h1>
          <h4 class="card-text">
            From local escapes to far-flung adventures, find what makes you happy anytime, anywhere
          </h4>
        </div>
      </div>
    </div>
  </section>

  <!-- Cards -->
  <section id="receitas" class="container col-12 mt-5">
    <div class="row justify-content-center">
      <h2 class="m-3">Projetos populares</h2>
      <article
        *ngFor="let projeto of response"
        class="card shadow p-0 m-2 col-3 col-md-3 col-lg-3 col-xl-4"
        style="width: 18rem"
      >
        <img src="../../../assets/Inicio/card-img.png" alt="Capa do projeto" class="card-img-top card-posicao-imagem" />
        <div class="card-body">
          <p class="colored-text">{{ projeto.Categoria }}</p>
          <h5 class="card-title">{{ projeto.Titulo }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ projeto.UserName }}</h6>
          <p class="card-text"><i class="bi bi-clock text-warning"></i> 35 dias - 65% financiamento</p>
          <a href="#" class="btn btn-outline-warning w-100">VISITAR PROJETO</a>
        </div>
      </article>
    </div>
  </section>
</main>
