<div
  class="container-fluid"
  style="
    background-image: url(../../assets/fundoAtual.png);
    background-color: #f2f2f2;
    height: 100vh;
    align-content: center;
  "
>
  <img src="../../assets/finco.png" style="height: 5rem; margin-left: 43.5%" alt="" />
  <div class="mx-auto p-2" style="width: 29%">
    <div
      style="
        background-color: rgb(255, 255, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 16px;
      "
    >
      <div class="mb-3">
        <h1 style="font-size: 24px">Tudo certo!</h1>
        <p style="font-size: 16px">Clique no botão para voltar ao login.</p>
      </div>

      <div class="mb-3" style="margin-left: 25%; width: 200px">
        <img src="../../assets/check_6785304 1.svg" alt="sucesso" />
      </div>
      <div class="d-grid gap-2">
        <button
          class="btn btn-warning"
          style="color: #ffffff; font-weight: 500"
          type="button"
          (click)="mudarTelaLogin()"
        >
          VOLTAR AO LOGIN
        </button>
      </div>
    </div>
  </div>
</div>
